<footer class="app-footer mt-auto">
  <div class="container py-3 border-top border-secondary-subtle">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center gap-2">
        <img src="minsaiticon.webp" alt="Logo Minsait" class="footer-logo" />
        <small>© 2025 Minsait </small>
      </div>

      <div class="footer-icons">
        <a href="#" class="footer-icon" aria-label="Instagram">
          <img
            src="instagramicon.webp"
            alt="Instagram"
            class="footer-icon__img"
          />
        </a>

        <a href="#" class="footer-icon" aria-label="Facebook">
          <img
            src="Facebookicon.webp"
            alt="Facebook"
            class="footer-icon__img"
          />
        </a>
      </div>
    </div>
  </div>
</footer>
