<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h4">Lista de produtos</h1>
    <button class="btn btn-primary" (click)="onNew()">Adicionar produto</button>
  </div>

  @if (loading) {
  <div class="alert alert-info">
    Um momento, estamos carregando os produtos...
  </div>
  } @if (errorMessage) {
  <div class="alert alert-danger">
    {{ errorMessage }}
  </div>
  } @if (!loading && products.length > 0) {

  <app-product-table
    [products]="products"
    (addToCart)="onAddToCart($event)"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-product-table>
  } @else if (!loading && !errorMessage && products.length === 0) {
  <div class="alert alert-secondary">
    Ops... Nenhum produto foi encontrado...
  </div>
  }
</div>
