<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h4">Lista de produtos</h1>
    <button class="btn btn-primary" (click)="onNew()">novo produto</button>
  </div>

  @if (loading) {
  <div class="alert alert-info">
    Um momento, estamos carregando os produtos...
  </div>
  } @if (errorMessage) {
  <div class="alert alert-danger">
    {{ errorMessage }}
  </div>
  } @if (!loading && products.length > 0) {
  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Código de Barras</th>
        <th class="text-end">Ações</th>
      </tr>
    </thead>
    <tbody>
      @for (item of products; track item.id ) {
      <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.price | currency : "BRL" }}</td>
        <td>{{ item.barcode }}</td>
        <td>
          <button
            class="btn btn-sm btn-success me-2"
            (click)="onAddToCart(item)"
          >
            Adicionar ao carrinho
          </button>
          <button class="btn btn-sm btn-warning me-2" (click)="onEdit(item)">
            Editar
          </button>
          <button class="btn btn-sm btn-danger" (click)="onDelete(item)">
            Excluir
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table> -->
  <app-product-table
    [products]="products"
    (addToCart)="onAddToCart($event)"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
  ></app-product-table>
  } @else if (!loading && !errorMessage && products.length === 0) {
  <div class="alert alert-secondary">
    Ops... Nenhum produto foi encontrado...
  </div>
  }
</div>
