<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Preço</th>
      <th>Código de Barras</th>
      <th class="text-end">Ações</th>
    </tr>
  </thead>
  <tbody>
    @for (item of products; track item.id) {
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.price | currency : "BRL" }}</td>
      <td>{{ item.barcode }}</td>

      <td class="text-end">
        <div class="product-actions d-flex flex-wrap justify-content-end gap-2">
          <button class="btn btn-sm btn-success" (click)="onAddToCart(item)">
            Adicionar ao Carrinho
          </button>

          <button class="btn btn-sm btn-secondary" (click)="onEdit(item)">
            Editar
          </button>

          <button class="btn btn-sm btn-danger" (click)="onDelete(item)">
            Excluir
          </button>
        </div>
      </td>
    </tr>
    }
  </tbody>
</table>
